button {
  padding: 9px 18px 10px 18px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background-color: rgb(0, 100, 0);
}
